@mixin heading($size){
    @if($size==large){
      font-size: 40px;
    }@else if($size==medium){
      font-size: 24px;
    }@else{
      font-size: 16px;
    }
  }
  
  
  h3{
    @if(1+2==3) {color: red};
    @if(4>3){color: green};
    margin: $mainMargin - 6px;
    @include heading(large);
  }